@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;

}
.navbar-nav li {
  padding-right:20px; 
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 5 #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding.bottom: 2rem;
}
/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  
  .carousel-caption h1 {
    font-size: 350%;
    text-transform: uppercase;

  }
  
  .carousel-caption h3 {
    font-size: 100%;
    font-weight: 500;

  }
}
@media (max-width: 576px) {
  
}
h1 {
  color: black
}
h2 {
  color:orangered ;
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

