



.jumbotron {
    text-align: center;
    color: crimson
}

.h1 {
    text-align: center;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: crimson;
    color: white;
    text-align: center;
}
