<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EarthQuake Data Visualization">
    <meta name="author" content="Clifford Ferraren">
    <title>LA Vehicle Collision</title>

    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.2/d3.js"></script>

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>LA Vehicle Collisions</h1>
                <p>The map visualization shows the vehicle collisions in Los Angeles Year 2010 - 2018.
                </p>
            </div>
        </section>

        <div class="map-visualization py-5 bg-light">
            <div id="map">
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>CFerraren &copy; USC Viterbi Data Analytics Bootcamp</p>
            <p> Visit my homepage <a href="https://cliferraren.github.io"> https://cliferraren.github.io</a></p>
        </div>
    </footer>

    <!-- my JS -->
    <!-- <script type="text/javascript" src="logic.js"></script>-->
    <script type="text/javascript" src="js/logic.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
